
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
   
    background-color: #F5F8FF;
}
.light-grey{
    color: #8987A1;
}
.deep-grey{
    color: #252432;
}
.nav{
max-width: 1440px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
   
}
.nav-img{
    width: 100%;
}
nav ul{
    display: flex;
    gap: 48px;
}
.nav-iteams{
   list-style: none;
}
.nav-link{
    list-style: none;
    text-decoration: none;
}
.cart-flex {
  display: flex;
  align-items: center;
  gap: 6px;
}

.cart-icon {
  width: 16px; 
  height: 16px;
}


.fresh{
    color: #E95A08;
}
.banner-heading{
    font-weight: 800;
    font-size: 4rem;
  
}
.banner-intro{
    width: 570px;
    height: 300px;
}
.banner-img{
    width: 570px;
    height: 355px;
}
.hero{
    width: 100%;
    }
    .banner{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    margin-top: 221px;
    gap: 300px;
    }

.banner-des{
    font-size: 1.3rem;
  margin: 50px;
  margin-left: 0px;
  margin-top: 10px;

}
.section1{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 150px;
}

.s1-title , .section3-title {
    font-weight: 800;
    font-size: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.s1-paragraph , .section3-para{
  text-align: center;
    font-weight: 400;
    font-size: 1.375rem;
    margin-bottom: 50px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 40px;
}
.img-card{
    width: 100%;
    margin: none;
    text-align: center;

}
.img-content{
    width: 100%;
}
.img-para{
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
}
.img-price{
    text-align: center;
    font-weight: 800;
    font-size: 1.25rem;
}
.img-container button , .sec4button{
    background-color: #E95A08;
    color: white;
    width: 270px;
    height: 45px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.section2 , .section3{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 172px;
}
.section2-container{
    display: flex;
    gap: 15px;
}
.section2-title {
    font-weight: 800;
    font-size: 3.125rem;

}
.section2-des{
    width: 578px;
    height: 610px;

    
}

.section2-para 
{
    font-weight: 400;
    font-size: 1.375rem;
}
.bloom , .ana , .zabo{
    padding: 10px;
    border-radius: 50px;
    filter: brightness(0.7);
   
}

.section3-img-container{
    display: flex;
    padding: 130px;
    gap: 30px;
    position: relative;

}
   
.zaboinfo{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-10%, -40%);
    font-weight: 800;
    font-size: 2rem;
    
}
.shop{
    text-decoration: underline;
    color: white;
}


.div1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-box{
  position: relative;
  width: 100%;
overflow: hidden;
}

.image-box img {
  width: 100%;
  display: block;
}

.bloom-info , .ana-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  margin-top: 5px;
}
.section4{
     background-image: url('news-letter-bg.png'); /* Replace with your image */
      background-size: cover;
      background-position: center;
      max-width: 1440px;
      height: 530px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   margin-bottom: 50px;
      text-align: center;
      color: white;
}
.sec4-greet{
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    color: white;
 }
 .sec4button{
    width: 180px;
    height: 50px;
 }
 .subscribe-form input{
    width: 640px;
    height: 42px;

 }
  
   
footer{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    font-weight: 400;
    font-size: 1.25rem;

}
.socials img{
    margin: 10px;
}
.footer-para{
    width: 360px;
    height: 80px;
    margin-left: 10px;
}
.secondhalf , .halfdiv1 , .socials img{
    cursor: pointer;
}
   .btn-primary{
   width: 286px;
   height: 286px;
    border-radius: 50%;
    border: none;
    margin-left: -230px;
    margin-top: -140px;
    cursor: pointer
   }



@media screen and (max-width: 576px) {

    .banner-intro{
        margin-left: 130px;
      justify-items: center;
      margin-top: -340px;
    
    }
    .banner-des{
        margin-top: -50px;
        margin-left: 40px
    }
    .section3-para{
        margin-left: 150px;
    }
    .sec1-intro , .section3-title{
        justify-items: center;
      margin-left: 170px;
    }
    .shop,
    .us,
    .home{
       visibility: hidden;
    }
    .nav ul{
        gap: 20px;
    }

    .s1-title , .s1-paragraph , .section3-greet , .section2-des{
        text-align: center;
        justify-items: center;
    }
    .banner{
        flex-direction: column-reverse;
        align-items: center;
    }
    .section1{
        max-width: 100%;
    margin: 0 auto;
    }
    .btn-primary{
     display: none;
    }
  
    .img-container{
 
        grid-template-columns: repeat(2 , 1fr);
    
        justify-items: center;
    }
    .section2-container{
        flex-direction: column;
        justify-items: center;
    }
  .zabo , .ana , .bloom{
   width: 100%;
  }
footer{
    flex-direction: column;
    gap: 0px;
    margin: 20px;
}   
.section3-img-container {
    flex-direction: column;
    padding: 10px;
  justify-items: center;


  }

  .bloom-info,
  .ana-info
  
  {
    
    transform: translate(-50%, -50%);
    padding: 0 10px;
    z-index: 2;
  }
  .zaboinfo{
   
    transform: translate(-50%, 120%);
    font-size: 1rem;
  
  }

  .shop {
    font-size: 0.85rem;
  }

  .image-box img,
  .zabo {
    padding: 0;
    border-radius: 16px;
  }

   .subscribe-form input{
    width: 218px;
    height: 50px;
   }
 
}





